* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    height:100vh;
    background:#0d1117;
}

body div {
    width:300px;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#text {
    color:white;
    font-size:1.5em;
    margin-bottom:20px;
    font-family:sans-serif;
}

#logo i {
    font-size:3em;
    color:white;
}
#logo {
    margin:30px 0;
}

#create_account {
    color:white;
    width:300px;
    margin:auto;
    box-shadow:0 0 1px white;
    border-radius:2px;
    background:#0d1117;
    margin-top:20px;
    padding:10px;
    font-family:sans-serif;
    font-size:0.9em;
}
#create_account a {
    text-decoration:none;
    color:dodgerblue;
}
form {
    width:300px;
    margin:auto;
    background:#161b22;
    padding:8px 0;
    position:relative;
    border-radius:10px;
    box-shadow:0 0 1px white;
}

input,label {
    display:block;
    width:90%;
    margin:auto;
    color:white;
    font-family:sans-serif;
    font-size:0.9em;
    border:none;
    outline:none;
}
input {
    background:#0d1117;
    border:none;
    padding:5px;
    border-radius:5px;
}
input:focus {
    box-shadow:0 0 2px dodgerblue;
    border:2px solid dodgerblue;
}
label {
    margin:10px auto;
}
input[type="submit"] {
    background:#238636;
    border:none;
    padding:8px;
    border-radius:8px;
    margin:15px auto;
}
input[type="submit"]:hover {
    background:#2eac47;
    cursor:pointer;
}

form a {
    text-decoration:none;
    color:dodgerblue;
    font-family:sans-serif;
    font-size:0.8em;
    position:absolute;
    bottom:52%;right:10px;
}
